*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
main{ height: 300vh;}


nav{
    background-color: #fff;
    position: fixed;    
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    padding-top: 20px;
    z-index: 4;

}
.nav2{
    display: grid;
    grid-template-columns: auto auto auto auto
    auto auto auto auto;
    gap: 5px;
}
.request{

    color: #fff;
    background-color: #336856;

}
a{
    text-decoration: none;
    color: #336856;
}

.sec1{
    /* background-color: yellow; */
    background-image: url(/afamily.png);
    height: 90vh;
    background-size: cover;
    color: #336856;
    padding:30vh 5vw;

}
#txsec1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 6vh;
}
.textbox{
    display: flex;
}
.text_box1{
    padding: 10px 5px; 
}
#find_out{
    border: none;
    color: #fff;
    background-color: #336856;
    padding: 10px 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
}
.sec2{
    right: 10% ;
    top: -50px;
    position: absolute;
    background-color: #fff;
    box-shadow: 1px 1px 2px grey;
    width: 80%;
    height: 15vh;
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 1;
    color: #336856;

}
.span1{
    padding: 15px 30px;
}
#coverage{
    font-size: smaller;
}
.sec3{
    position: relative;
    height: 100vh;
}
.sec4{

    padding-top: 20vh;

    display: grid;
    grid-template-columns: 58% auto;
    /* padding: 20px; */
    height: 100vh;
}
.div42{
    display: grid;
    grid-template-rows: 70% auto;
    
}
.div41{
    position: relative;
    /* border: 2px solid; */
}
.fimg{
    position: absolute;
    top: -5vh;
    left: 5vh;
}
.simg{
    position: absolute;
    left: 10vh;
    border-radius: 10px;

}
.timg{
    position: absolute;
    right: 20vh;
    top: 30vh;
    border-radius: 10px;

}
#sat{
    background-color: #fff;
    display: grid;
    grid-template-columns: 40% auto;
    position: absolute;
    bottom: -6vh;
    left: 60px;
    box-shadow: 1px 1px 9px black, 
    1px 1px 9px black;
    border-radius: 5px;
    width: 15vw;
    height: 10vh;
    padding: 5px 15px;
}
.sat_client{
    font-size: smaller;
    padding-top: 10px;
}
#client{
    border-radius: 50px;
    
    
}
.div421{
    color: #336856   ;
    padding: 0px 50px;

}